S3method("+",pot)
S3method("[<-",FlexRow)
S3method("[<-",FlexTable)
S3method(addColumnBreak,docx)
S3method(addDate,pptx)
S3method(addFlexTable,docx)
S3method(addFlexTable,html)
S3method(addFlexTable,pptx)
S3method(addFooter,pptx)
S3method(addImage,docx)
S3method(addImage,html)
S3method(addImage,pptx)
S3method(addPage,html)
S3method(addPageBreak,docx)
S3method(addPageNumber,pptx)
S3method(addParagraph,docx)
S3method(addParagraph,html)
S3method(addParagraph,pptx)
S3method(addPlot,docx)
S3method(addPlot,html)
S3method(addPlot,pptx)
S3method(addRScript,docx)
S3method(addRScript,html)
S3method(addRScript,pptx)
S3method(addSection,docx)
S3method(addSlide,pptx)
S3method(addSubtitle,pptx)
S3method(addTOC,docx)
S3method(addTable,docx)
S3method(addTable,html)
S3method(addTable,pptx)
S3method(addTitle,docx)
S3method(addTitle,html)
S3method(addTitle,pptx)
S3method(as.character,borderProperties)
S3method(as.character,pot)
S3method(as.character,textProperties)
S3method(as.html,FlexTable)
S3method(as.html,RScript)
S3method(as.html,pot)
S3method(chprop,borderProperties)
S3method(chprop,cellProperties)
S3method(chprop,parProperties)
S3method(chprop,textProperties)
S3method(declareTitlesStyles,docx)
S3method(dim,docx)
S3method(dim,pptx)
S3method(length,FlexRow)
S3method(length,FlexTable)
S3method(print,FlexCell)
S3method(print,FlexRow)
S3method(print,FlexTable)
S3method(print,RScript)
S3method(print,borderProperties)
S3method(print,cellProperties)
S3method(print,docx)
S3method(print,html)
S3method(print,parProperties)
S3method(print,pot)
S3method(print,pptx)
S3method(print,set_of_paragraphs)
S3method(print,tableProperties)
S3method(print,textProperties)
S3method(slide.layouts,pptx)
S3method(str,FlexTable)
S3method(styles,docx)
S3method(toc.options,docx)
S3method(writeDoc,docx)
S3method(writeDoc,html)
S3method(writeDoc,pptx)
export(FlexCell)
export(FlexRow)
export(FlexTable)
export(FontMetric)
export(RScript)
export(add.plot.interactivity)
export(add.pot)
export(addColumnBreak)
export(addDate)
export(addFlexTable)
export(addFooter)
export(addFooterRow)
export(addHeaderRow)
export(addImage)
export(addPage)
export(addPageBreak)
export(addPageNumber)
export(addParagraph)
export(addPlot)
export(addPostCommand)
export(addRScript)
export(addSection)
export(addSlide)
export(addSubtitle)
export(addTOC)
export(addTable)
export(addTitle)
export(as.html)
export(borderDashed)
export(borderDotted)
export(borderNone)
export(borderProperties)
export(borderSolid)
export(cellProperties)
export(chprop)
export(declareTitlesStyles)
export(deleteBookmark)
export(deleteBookmarkNextContent)
export(docx)
export(get.default.tableProperties)
export(get.greenheader.tableProperties)
export(get.light.tableProperties)
export(html)
export(is.color)
export(light.table)
export(list.format)
export(parCenter)
export(parJustify)
export(parLeft)
export(parProperties)
export(parRight)
export(pot)
export(pptx)
export(raphael.html)
export(registerRaphaelGraph)
export(setColumnsColors)
export(setFlexTableBackgroundColors)
export(setFlexTableBorders)
export(setFlexTableWidths)
export(setRowsColors)
export(setZebraStyle)
export(set_of_paragraphs)
export(slide.layouts)
export(spanFlexTableColumns)
export(spanFlexTableRows)
export(styles)
export(tableProperties)
export(textBold)
export(textBoldItalic)
export(textItalic)
export(textNormal)
export(textProperties)
export(toc.options)
export(triggerPostCommand)
export(vanilla.table)
export(writeDoc)
import(ReporteRsjars)
import(rJava)
useDynLib(ReporteRs)
